@font-face {
  font-family: "pixelFont";
  src: 
     url("/src/assets/ui/04B_03.ttf") format("truetype");
 font-weight: bold;
 font-style: normal;
}


/* @font-face {
  font-family: "04B03";
  src: 
     url("/src/assets/ui/04B_03.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
} */